homeassistant: !include includes/homeassistant.yaml
default_config:
frontend:
  themes: !include_dir_merge_named themes
http: !include includes/http.yaml

# Logging and History
recorder: !include includes/recorder.yaml
logbook: !include includes/logbook.yaml

# Inputs
input_boolean: !include includes/input_booleans.yaml
input_select: !include includes/input_selects.yaml

automation: !include_dir_merge_list automations
person: !include includes/persons.yaml
scene: !include includes/scenes.yaml
script: !include includes/scripts.yaml
group: !include includes/groups.yaml
zone: !include includes/zones.yaml
sensor: !include includes/sensors.yaml
homekit: !include includes/homekit.yaml
prometheus: !include includes/prometheus.yaml

# Enables Lovelave UI
lovelace:
  mode: yaml
  # Add ons for Lovelace
  resources:
    - url: /local/home-assistant-sun-card.js
      type: module
    - url: /local/mini-graph-card-bundle.js
      type: module
    - url: /local/fold-entity-row.js
      type: module
    - url: /local/weather-card/weather-card.js
      type: module

# Enables the API
api:

# Needed for HomeKit integration
network:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# logger:
#   default: warning
#   logs:
#     homeassistant.components.homekit: debug
#     homeassistant.components.homekit_controller: debug
#     aiohomekit: debug
#     coap: debug
#     pyhap: debug

template:
- sensor:
  - default_entity_id: sensor.udm_uptime_formatted
    name: UniFi Dream Machine Uptime Formatted
    state: "{% set time = (states.sensor.unifi_dream_machine_uptime.state | int) |
      int %} {% set minutes = ((time % 3600) / 60) | int %} {% set hours = ((time
      % 86400) / 3600) | int %} {% set days = (time / 86400) | int %}\n{%- if time
      < 60 -%}\n  Less than a minute\n  {%- else -%}\n  {%- if days > 0 -%}\n    {{
      days }}d\n  {%- endif -%}\n  {%- if hours > 0 -%}\n    {%- if days > 0 -%}\n
      \     {{ ' ' }}\n    {%- endif -%}\n    {{ hours }}h\n  {%- endif -%}\n  {%-
      if minutes > 0 -%}\n    {%- if days > 0 or hours > 0 -%}\n      {{ ' ' }}\n
      \   {%- endif -%}\n    {{ minutes }}m\n  {%- endif -%}\n{%- endif -%}"
